.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .search-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    border-radius: 25px 0 0px 25px;
    width: 40em;
  }
  
  .search-icon {
    background-color: #f8f8f8;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0 25px 25px 0;
    cursor: pointer;

  }
  
  .voice-icon {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #606060;
    border: 1px solid ;
    border: 1px solid #e4e3e3;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(241, 241, 241);
  }

  